@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#hero{
  width: 100%;
  height: 100vh;
  background-image: url(../img/bkd1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  transition : background-image .8s ease-in-out;
}
.navbar{
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
.navbar .logo{
  width: 60px;
  margin: 30px 0;
  cursor: pointer;
}
.user{
  display: flex;
  align-items: center;
}
.user img{
  width: 30px;
  margin-left: 50px;
  cursor: pointer;
}
button{
  padding: 8px 25px;
  background: transparent;
  ouiline: none;
  border: 2px solid #fff;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.container{
  width : 50%;
  height : 100vh;
  background : rgba(0,0,0,.3);
  -webkit-background-filter : blur(10px);
  background-filter : blur(10px);
  position : absolute;
  left : 0;
  top : 0;
}
.info{
  width : 550px;
  color : white;
  position : absolute;
  right : 0;
  top : 50%;
  transform : translate(-50%, -50%);
}
.info h1{
  font-size : 60px;
  letter-spacing : 10px;
}
.info p{
  color : #f0eef1;
  font-size : 11px;
  margin : 20px 0;
  line-height : 18px;
}
.info input{
  width : 50%;
  padding : 8px 10px;
  outline : none;
  border : 2px solid #fff;
  border-radius : 20px;
  color : white;
  background : transparent;
  font-size : 12px;
}

::placeholder{color : #ccc;}

.slider{
  display : flex;
  align-items : center;
  position : absolute;
  right: 30px;
  bottom: 50px;
}
.sliderbtn{
  position : absolute;
  top: -35px;
  margin: 0 auto;
  width: 0;
  left : 0;
  right : 0;
  padding : 10px 60px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  text-align: center;
}
.sliderbtn.active::before{
  content: '';
  padding: 15px 65px;
  border: 1px solid #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 0;
  transition: all .8s ease-in-out;
}
#slider_stop,
#slider_play{
  position : absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-style: italic;
  transition: all .8s ease-in-out;
  border-radius: 15px;
}
#slider_stop{ /**/background-color: rgba(0,0,0,0.8);}
#slider_play{
  display : none;
  color: black;
}
#slider_stop.active{display : none;}
#slider_play.active{
  display : block;
  box-shadow: inset 0 0 0 50px rgba(255,255,255,0.8);
}
#prev,
#next{
  width: 20px;
  cursor : pointer;
}
.preview{
  display: flex;
  align-items : center;
  margin : 0 60px;
}
.preview .thumbnail{
  width : 100px;
  margin : 0 10px;
  opacity : .4;
  cursor : pointer;
}
.preview .thumbnail.active{
  display: block;
  border : 3px solid white;
  width : 140px;
  opacity : 1;
  transition: opacity .8s ease-in-out;
}
